*#
.#*
*~
.DS_Store
.classpath
.settings
.project
.gradle
build/
bin/
out/
*.iml
*.ipr
*.iws
*.idea
.factorypath
pom.xml
target/
db/
starth2
.gradletasknamecache
.sass-cache/
.jruby/
ratpack-groovy/Expression$*.class
/.java-version
deploy
.jruby-container
classes/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
